.main-content p{
    font-size: 13px;
}

#section1.row{
    background-image:linear-gradient(#A9448B,#451238);
    padding-bottom: 1em;
}
.green{
    background-color: rgb(36, 176, 67);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 1em;
    position: relative;

}
b{
    color: white;
}
.row:nth-of-type(2){
    background-image:linear-gradient(#301028,5%,#0F0F0F) ;
}
table{
    
    margin-left: 2em;
    margin-right: 1em;
    
}
.no-space-right{
    padding-right: 0px !important;
  width:10px !important;
 
  
}
.no-space-left{
    padding-left: 0 !important;
    border-collapse: collapse !important;
    
}
.bi.bi-suit-heart{
    color: #97a4a6;
    margin-left: 1em;
    margin-top: 1.5em;
}
.bi.bi-suit-heart:hover{
    color: white;
}
.bi.bi-three-dots{
    color: #97a4a6;
    margin-left: 1em;
    margin-top: 1.5em;
}
.bi.bi-caret-right{
    position: absolute;
  top:12px;
  left: 11px;
}
.bi.bi-three-dots:hover{
    color: white;
}

.small{
    height: 30px;
    border-radius: 50%;
}
.col-lg-2 img{
  height: 200px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}
.col-lg-9{
    margin-top: 3em;
   margin-left: 5em;
}
tr:hover{
background-color: rgb(38, 39, 41);
}
tr:hover .play-list-text{
    color: white;
}
tr p:hover{
    text-decoration: underline;
}
 
  @media screen and (max-width: 1000px){
    .col-lg-9{

       margin-left: 0px;
     
    }
    .col-lg-2 img{
        height: 200px;
        box-shadow: 3px 3px black;
    
      }
  }
  @media (min-width: 768px) { 
    .col-lg-2 img{
        height: 200px;
        box-shadow: 3px 3px black;
        justify-content: center;
    
      }
  }

.selected{
    background-color: #5c5c5c !important;
}