*{
  box-sizing: border-box;
}
#goodmorning .col{
margin-left:30px;
max-height:100vh;
}
.media img{
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
  
    height:90px;
    width:90px;
}
.media:hover{
  background-color: rgb(81, 75, 75);
transition: background-color 400ms;
border:none
}
.media-body{
    background: rgba(88, 85, 85, 0.3);
    height:90px;
    border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
}
.media-body h5{
    color:white;
    font-size: 16px;
      width: 10vw;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
 
}



.media .play-btn {
  position: absolute;
  top:20px;
  right:10px;
  width: 45px;
  height: 45px;
  background-color: #1DB954;
  border-radius: 50%;
 opacity:0;
 transition:transform 400ms, opacity 400ms;
 cursor:pointer
  
}
/* @media screen and (max-width: 1300px) {
  .media .play-btn {
    width: 36px !important;
  height: 36px !important;
  position: absolute !important;
  left: 70% !important;
  }
} */
.play-btn:hover{
  transform: scale(1.1) !important;
  box-shadow: inset 2px 4px 50px -30px rgba(0,0,0,0.72)
}
.play-btn .triangle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent #090e14;
}



.media:hover .play-btn{
  transform: scale(1.2);
  opacity:1;
} 




#recentlyplayed .card img, #showstotry .card img{

    border-radius: 20px;
    
}
#recentlyplayed .card .card-title, #showstotry .card .card-title{
    font-size: 16px;
}

.card{
background-color: rgb(35, 33, 33);
transition: background-color 400ms;
}
a{
    color:white;
   
  }
  a:hover{
    text-decoration: none;
    color:white
  }


  .card .play-btn {
    position: absolute;
    top:50%;
    left: 78%;
    width: 50px;
    height: 50px;
    background-color: #1DB954;
    border-radius: 50%;
   transform: translateY(48px);
   opacity:0;
   transition: transform 400ms, opacity 400ms;
   cursor:pointer
    
  }
  @media screen and (max-width: 1300px) {
    .card .play-btn {
      width: 36px !important;
    height: 36px !important;
    position: absolute !important;
    left: 70% !important;
    }
  }
  .play-btn:hover{
    transform: scale(1.3) !important;
    box-shadow: inset 2px 4px 50px -30px rgba(0,0,0,0.72)
  }
  .play-btn .triangle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #090e14;
}



  .card:hover .play-btn{
    transform: translateY(0px);
    transform: scale(1.2);
    opacity:1;
  } 
  
 


 #user-info i{
  background: rgba(180, 159, 159, 0.3);
  border-radius: 50%;
  padding:8px;
  color:white
 }
 #user-info i:hover{
  background-color: grey;
 }
 
 .truncate {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(28, 27, 27, 0.3);
}

#user-info img{
height:25px;
width:25px;
border-radius: 50%;
}
#user-info .dropdown-menu{

  background-color: rgb(35, 33, 33);
}
#user-info .dropdown-item{
  color:white;
  font-family: "Gotham-Light";
  margin-bottom:6px;
}
#user-info .dropdown-item:hover{
  color:white;
  background-color: rgb(81, 75, 75);
}
#user-info .dropdown-item:last-of-type{
  border-top: 1px solid  rgb(81, 75, 75);
}
/* .user-info{
  background: rgb(76,76,74);
    background: linear-gradient(180deg, rgba(76,76,74,1) 0%, rgb(142, 118, 118) 51%);
    position:fixed;
    top:0;
} */
.card .card-text{
  
  font-family: "Gotham-Light";
}
.card-body span:hover{
text-decoration: underline;
}
.see-all{
  font-family: Gotham-Light;
  font-size: 12px;
}
aside{
  width:350px;
}
.card:hover{
  background-color: rgb(71, 66, 66);
}
 #user-info{
  position:fixed;
  top:0px;
  padding-top:10px;
  z-index:1;
  background: rgb(76,76,74);
  background: linear-gradient(180deg, rgba(76,76,74,1) 0%);
  height:6vh;
  width:87vw;
 
} 
 @media screen and (max-width: 1900px) {
  #user-info{
    width:85vw;
    height:7vh;
  }
} 
h3:first-of-type{
  margin-top: 100px !important;
}