*{
  box-sizing: border-box;
}
.media img{
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
    height:64px;
    width:64px;
}
.media-body{
    background: rgba(88, 85, 85, 0.3);
    height:64px;
    border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
}
.media-body h5{
    color:white;
    font-size: 64%;
 
}

#recentlyplayed .card img, #showstotry .card img{

    border-radius: 20px;
    
}
#recentlyplayed .card .card-title, #showstotry .card .card-title{
    font-size: 16px;
}

.card{
background-color: rgb(35, 33, 33);
transition: background-color 400ms;
}
a{
    color:white;
   
  }
  a:hover{
    text-decoration: none;
    color:white
  }


  .play-btn {
    position: absolute;
    top:50%;
    left: 70%;
    width: 3vw;
    height: 3vw;
    background-color: #1DB954;
    border-radius: 50%;
   transform: translateY(48px);
   opacity:0;
   transition: transform 400ms, opacity 400ms;
   cursor:pointer
    
  }
  
  .play-btn .triangle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #090e14;
}


  .card:hover .play-btn{
    transform: translateY(0px);
    opacity:1;
  }
 #user-info i{
  background: rgba(180, 159, 159, 0.3);
  border-radius: 50%;
  padding:8px;
  color:white
 }
 #user-info i:hover{
  background-color: grey;
 }
 
 .truncate {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(28, 27, 27, 0.3);
}

#user-info img{
height:20px;
border-radius: 50%;
}
.card .card-text{
  
  font-family: "Gotham-Light";
}
.card-body span:hover{
text-decoration: underline;
}
.see-all{
  font-family: Gotham-Light;
  font-size: 12px;
}
aside{
  width:350px;
}
.card:hover{
  background-color: rgb(71, 66, 66);
}