#main-content{
    flex-grow:1;
    background: rgb(76,76,74);
    background: linear-gradient(180deg, rgba(76,76,74,1) 0%, rgba(18,18,18,1) 51%);
}

.artist-cover{
    width:100%;
    height:400px;
    object-fit:cover
}

.artist-top{
    position: absolute;
    top:10vh;
    left:0;
    color:white;
}