@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Black.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("../fonts/Gotham-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Light";
    src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium.ttf");
}

body{
    margin:0;
    font-family: Gotham;
}
*{
    font:inherit;
}
#all-content{
    display:flex;
    flex-direction: column;
    
}
#top{
    display: flex;
    overflow: hidden;
    padding-bottom:101px;
    height:100vh;
}
aside{
    background-color: #000000;
    color: #97a4a6;
    overflow: hidden;
    width:250px;
    min-width:250px;

}
aside p:hover{
    background-color: rgb(30, 30, 30);
}
.side-wrapper{
    padding-right:20px;
    padding-left:25px;
}
#main-content{
    flex-grow:1;
    background: rgb(76,76,74);
    background: linear-gradient(180deg, rgba(76,76,74,1) 0%, rgba(18,18,18,1) 51%);
    overflow: auto;
}
.play-bar{
    background-color: #181818;
    height:101px;
    position:fixed;
    bottom:0;
    width:100%;
    margin-top:1px;
}
.play-bar p{
    font-size: 11px;  
    margin-bottom: 0;
}

    

.white-text{
    color:white;
}

.play-list-text{
    color:#6c6c6c;
}

.aside-hr{
    width: 80%;
    background-color: #282828;
    height: 1px;
    border: none;
}

#top-playlists{
    font-size: 15px;
    font-family: Gotham;
    padding-bottom: 25px;
}

.spotify-image{
    padding-top:30px;
    height: 80px;
    margin-bottom:30px;
}

.left-icons{
    height:30px;
    padding-right:20px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
}

#play-bar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:20px;
    padding-left:10px;
}

.song-and-artist-play-bar{
    display: flex;
}

.play-bar-icons{
    height:14px;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    margin-right:10px;
  
}

.play-bar-icons-big{
    margin-top: 0.8em;
    height:20px;
    margin-right:40px;
}
.right{
    margin-top: 1.5em;
}
.play-button{
    height:40px;
    margin-right:40px;
}

.play-line{
    margin-top:20px;
    background-color: #555555;
    height:5px;
    width:100%;
}

.play-line-div{
    display:flex;
    justify-content: center;
}
.play-line-div p{
    margin-top: 1.2em;
}
.play-line-div p:nth-of-type(1){
    margin-right: 3px;
}
.play-line-div p:nth-of-type(2){
    margin-left: 3px;
}
.volume-line{
    background-color: #555555;
    height:5px;
    width:100px;
}

.volume{
    display:flex;
    margin-bottom: 3em;

}

#top-playlists{
    overflow: auto;
}
#playlist-wrapper{
    overflow: auto;
    padding-bottom:50px;
}

.shuffle-on{
    filter: brightness(1.1) contrast(3);
}

#current-album-cover{
    height:50px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

